a:hover {
  text-decoration: none;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
}

footer {
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
}
li { 
  list-style: none;
  margin: 0;
  padding: 0; 
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

.current-temp {
  font-size: 60px;
}

.forecast-icon {
  display: block;
  margin: auto;
}

.forecast-temperature {
  font-size: 20px;
  text-align: center; 
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature .units {
  font-size: 20px;
  position: relative;
  top: -28px;
}

.weather-app {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgb(165, 137, 141);
  padding: 23px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 40px auto;
}

.weather-temperature img {
  margin-right: 15px;
  height: 75px;
  width: 75px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

